<% include partials/header %>	
<h1> Friends pending. </h1>

<% brunosFriends.forEach(function(friends){ %>
    <div class="card col-md-3" style="width: 18rem;">
    <img src="<%= friends.image %>" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"><%= friends.friendName %></h5>
        <p class="card-text"><%= friends.description %></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
    <%	}); %>



<p> <a href="/Brunosfriends/new">add a friend</a></p>
<% include partials/footer %>