<% include partials/header %>
<header>

</header>	
<h1> Friends pending (extra link for each friend) </h1>

<form action="/" method="GET">
<button> Back home </button>
</form>

<% include partials/footer %>