<% include partials/header %>	
<h1> Friends pending, will include comments section. </h1>
<p> edited from Macbook </p>
<form action="/" method="GET">
<button> Back home </button>
</form>

<% include partials/footer %>