<% include partials/header %>

<div class="survey">
<h1> Question 3 </h1>
<p> How many borks per day am I allowed? </p>

<input class="incorrect3" type="radio" name="bork" value="0"> 0<br>
<input class= "correct3" type="radio" name="bork" value="2"> 2 <br>
<input class="incorrect3" type="radio" name="bork" value="4"> 4 <br>
<input class="incorrect3" type="radio" name="bork" value="infinite"> infinite <br>

</div>
<script type="text/javascript" 
src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js">
</script>
<script type="text/javascript" src="/routes.js"></script>
<% include partials/footer %>