<% include partials/header %>	

<h1>
	This is the show template!
</h1>

<p>
	<%= friend.friendName %>
</p>

<img src ="<%= friend.image %>">

<p>
	<%= friend.description %>
</p>

<% include partials/footer %>