<% include partials/header %>

<header>

</header>
<div id="listBackground">	
    <div class="listBorder">
        <h1> Bruno's list </h1>
            <% brunoList.forEach(function(item){ %>
                <div id="list1" class="jToDo"> 
                    <li class="list">
                        <form class="inline" action="/toDo/<%= item._id %>?_method=DELETE" 
                            method="POST">
                            <button id="delete">
                                x
                            </button>
                        </form> 
                        <span id="listItem"><%= item.listItem %></span>
                    </li>
                </div>
            <% }); %>
            <form action="addToDo" method="POST">
                <input type="text" name="newToDo" placeholder="brunoList">
                <button id="ntd"> New ToDo </button>
            </form>
    </div>
</div>




<script type="text/javascript" 
src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js">
</script>
<script type="text/javascript" src="/routes.js"></script>
<% include partials/footer %>