<% include partials/header %>

<header>

</header>	
<h1> Bruno's list </h1>

<% list.forEach(function(list){ %>
<div> 
<form action="removeToDo" method="POST">
 <button><%= list %></button>
 </form> 
</div>
<% }); %>

<form action="addToDo" method="POST">
    <input type="text" name="newToDo" placeholde="name">
    <button> New ToDo </button>
</form>


<% include partials/footer %>