<% include partials/header %>
<header>

</header>	
<h1> Todo Pending </h1>

<% list.forEach(function(list){ %>
<li> New toDo: <%= list %> </li>
<% }); %>

<form action="addToDo" method="POST">
    <input type="text" name="newToDo" placeholde="name">
    <button> New ToDo </button>
</form>
<% include partials/footer %>