	<!DOCTYPE html>
	<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="/app.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
            
            <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Brunosfriends"">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/survey">surey</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/toDo">toDo</a>
      </li>
    </ul>
  </div>
</nav>
<div style="background: !important" class="jumbotron">
  <h1 class="display-4"> <img id="thumbnail" src="2.png">Bruno,s Blog </h1>

  <p class="lead">Life through the eyes of a pup</p>
<img class="sidebar" src="58383799_414633009269197_4964371342452326400_n.jpg">
<img class="sidebar1" src="64746981_2303714036516448_7863091705925337088_n.jpg">
<img class="sidebar" src="70720210_2400783726906990_6182964249929711616_n.jpg">
<img class="sidebar1" src="71138802_518832125355146_3646693329002823680_n.jpg">
<img class="sidebar" src="71667131_1256831331190646_6568980508741468160_n.jpg">
<img class="sidebar1" src="71689338_2978049912267202_129116268925026304_n.jpg">
</div>
        
<div id ="content">        
        
        
        

        
        
        
